<style>
    table, th, td {
  border: 1px solid;
  font-size: larger;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Records</title>
</head>
<body>
    <h1>Read Records</h1>
    <!-- {{ a_variable }} -->
    <p><a href="{{ url_for('index') }}">Home Page</a></p>
    <p><a href = "{{ url_for('create') }}">Create Records Page</a></p>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    {% for items in records %}
        <tr>
            <td>{{items["ID"]}}</td>
            <td>{{items["Name"]}}</td>
            <td>{{items["PhoneNumber"]}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>